:root {
  --vt-c-bgc-body: #808080;
  --vt-c-bgc-header: #767575;
  --vt-c-bgc-title: #a9e49a;

  --vt-c-bgc-footer: #545454a6;
  --vt-c-text-footer: #c8c8c8a6;

  --vt-c-bgc-char: #ebebeba3;
  --vt-c-bgc-char-active: #4caf50;
  --vt-c-bgc-char-favourite: #dec484;
  --vt-c-bgc-char-favourite-shadow: #dec48480;
  --vt-c-text-char: black;

  --vt-c-bgc-btn: #5cb85c;
  --vt-c-text-btn: white;

  --vt-c-text-error: #7d4545;
  --vt-c-text-heart: red;
  --vt-c-text-remove: #626262;
  --vt-c-text-remove-hover: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--vt-c-text-char);
  background-color: var(--vt-c-bgc-body);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
